@model ICollection<EFTest.Models.Student>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Model.Count estudantes.</h1>
    <table class="table table-responsive table-hover table-striped-columns">
        <thead class="toast-header">
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Data Matricula</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var s in Model)
            {
                <tr>
                    <td>@s.Id</td>
                    <td>@s.FirstMidName</td>
                    <td>@s.LastName</td>
                    <td>@s.EnrollmentDate.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
</div>
